* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


@font-face {
    font-family: "Droid Sans";
    src: url("../fonts/Droid Sans/DroidSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Droid Sans";
    src: url("../fonts/Droid Sans/DroidSans.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html {
    font-family: Droid Sans, serif;
    font-size: 7px;
}


li {
    list-style: none;
    height: min-content;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header__list {
    display: flex;
    width: 320px;
    justify-content: space-between;
    align-items: center;
}

.mobile-version {
    display: none;
}

.header__list_mobile-version {
    display: none;
}

h1 {
    color: #000;
    font-size: 9rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 9px;
    text-transform: capitalize;
}

.icon-link {
    width: 65px;
    height: 65px;
}

.about {
    margin-top: 77px;
}

h2 {
    color: #040404;
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6px;
}

.about__block-text {
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1450px;
}

.about__arrow-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 295px;
    height: 140px;
    margin-right: 70px;
}


.about__arrow_left {
    transform: rotate(180deg);
}

.paragraph {
    color: #000;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5.5rem;
    letter-spacing: 2px;
}

.book {
    background: #6DF701;
    padding: 78px 20px;
    margin-top: 96px;
}

.book__p {
    margin-top: 44px;
}

.button {
    margin-top: 53px;
    width: 60rem;
    height: 122px;
    background: #020202;
    color: #FFF;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    border: none;
}

.button_arrow {
    width: 45px;
    height: 23px;
    margin-left: 15px;
}

.button_arrow_mobile {
    display: none;
}



.gallery {
    margin-top: 90px;
}



.gallery__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.gallery__img {
    width: 100%;
    margin-top: -4px;
}



.line {
    display: flex;
    justify-content: end;
    margin-top: 100px;
    width: 100%;
    height: 2px;
    background: rgb(0, 0, 0, 0.3);
}

.line::after {
    display: block;
    position: relative;
    margin-top: -9px;
    margin-right: -2px;
    opacity: 0.4;
    content: '';
    background: url("../img/arrrow_part.svg");
    width: 18px;
    height: 19px;
}

h3 {
    color: #000;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.leaders {
    margin-top: 150px;
}

.leaders__container {
    padding: 0 40px ;
    margin-bottom: 50px;
}

.leaders__line {
    display: grid;
    align-items: center;
    justify-items: center;
    /*grid-row-start: 1fr;*/
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 150px;
    margin-top: 23px;
}

.leaders__img:nth-child(1),
.leaders__img:nth-child(2),
.leaders__img:nth-child(3){
    grid-column: span 4;
    grid-row: span 1;
}

.leaders__img:nth-child(3){
    justify-self: end;
}

.leaders__img:nth-child(5){
    grid-column: span 2;
}

.leaders__img:nth-child(6){
    grid-column: span 5;
}

.leaders__img:nth-child(7){
    grid-column: span 2;
    height: 75px;
}
.leaders__img {
    height: min-content;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    /*width: 100%;*/
    /*height: 100%;*/
    object-fit: cover;
    grid-column: span 3;
}

.geography {
    margin-top: 220px;
}

.geography__flags {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}


footer {
    margin-top: 157px;
    background: #6DF701;
    height: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .header__list {
    display: flex;
}
